/* Register.css */
.register-container {
    background-color: #f4f7fc;
    height: 100vh;
  }
  
  .register-form {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  